* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(imagenes/fondo_juego.png) center/cover no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 430px;
    height: 200px;
}

canvas {
    display: block;
    background: white;
    border: 4px solid black;
}